extends ../../components/layout/template.pug
include ../../components/navbar/mixin.pug
include ../../components/breadcrumb/mixin.pug

block head
	title Choose Response for: #{id}

block header
	h1 Choose default response for complaint
	+navbar
	+breadcrumb
		+navitem("/", "Complaints")
		+navitem("/complaints/" + id, "Complaint: " + message)
		+navitem("/complaints/" + id + "/wizard?action=choose", "Choose default response", true)

block content
	h2 Choose response
	p=message
	form(action="/complaints/" + id, method="post", enctype="application/x-www-form-urlencoded")
		input(type="hidden", name="_method", value="put")
		input(type="hidden", name="action", value="choose")
		div(class="field-group")
			label(for="response") Response
			select(id="response", name="response")
				option Unfortunately, your complaint does not fall under the issues that are our responsibility
				option We have investigated your claims and were unable to verify them
				option We have received your claims and have begun a formal investigation
		input(type="submit")
