extends ../../components/layout/template.pug
include ../../components/navbar/mixin.pug
include ../../components/breadcrumb/mixin.pug
include ../../components/field-group/mixins.pug
include ../../components/button/mixin.pug
include ../../components/radio-group/mixin.pug

block head
	title Apologize for: #{id}

block header
	h1 Custom Apology for complaint
	+navbar
	+breadcrumb
		+navitem("/", "Complaints")
		+navitem("/complaints/" + id, "Complaint: " + message)
		+navitem("/complaints/" + id + "/wizard?action=custom", "Custom Apology", true)

block content
	h2 Draft Custom Apology
	p=message
	hijax-element
		auto-submit
			form(action="/complaints/" + id + "/wizard", method="get", enctype="application/x-www-form-urlencoded")
				fieldset(class="form-group")
					legend How would you like to handle this complaint?
					+radio-group("action", "Custom Apology", "custom", true)
					+radio-group("action", "Choose default response", "choose")
					+radio-group("action", "Reimburse the user for their convenience", "reimburse")
				+button("Choose Action")
		form(action="/complaints/" + id, method="post", enctype="application/x-www-form-urlencoded", data-hijax="disable")
			input(type="hidden", name="_method", value="put")
			input(type="hidden", name="action", value="custom")
			+textarea("apology", "Apology", null, true, null, "Please draft a nice apology here")
			+button("Submit Apology")
