extends ../../components/layout/template.pug
include ../../components/navbar/mixin.pug
include ../../components/breadcrumb/mixin.pug

block head
	title Apologize for: #{id}

block header
	h1 Custom Apology for complaint
	+navbar
	+breadcrumb
		+navitem("/", "Complaints")
		+navitem("/complaints/" + id, "Complaint: " + message)
		+navitem("/complaints/" + id + "/wizard?action=custom", "Custom Apology", true)

block content
	h2 Draft Custom Apology
	p=message
	form(action="/complaints/" + id, method="post", enctype="application/x-www-form-urlencoded")
		input(type="hidden", name="_method", value="put")
		input(type="hidden", name="action", value="custom")
		label(for="apology", aria-describedby="instructions") Apology
		textarea(name="apology")
		small(id="instructions") Please draft a nice apology here
		input(type="submit")
