extends ../../components/layout/template.pug
include ../../components/navbar/mixin.pug
include ../../components/breadcrumb/mixin.pug
include ../../components/button/mixin.pug

block head
	title Choose Response for: #{id}

block header
	h1 Reimburse payment for complaint
	+navbar
	+breadcrumb
		+navitem("/", "Complaints")
		+navitem("/complaints/" + id, "Complaint: " + message)
		+navitem("/complaints/" + id + "/wizard?action=reimburse", "Reimbursement", true)

block content
	h2 Choose or create payment for reimbursement
	p=message
	form(method="post", action="/payments/")
		input(type="hidden", name="origin", value="/complaints/" + id + "/wizard?action=reimburse")
		+button("Create New Payment")
	form(action="/complaints/" + id, method="post", enctype="application/x-www-form-urlencoded")
		input(type="hidden", name="_method", value="put")
		input(type="hidden", name="action", value="reimburse")
		div(class="field-group")
			label(for="payment") Choose a payment
			select(id="payment", name="payment")
				each payment in payments
					if !payment.incomplete
						option(value=payment.id)=payment.receiver + ', ' + payment.type
		+button("Choose payment")
