html(lang="en")
	head
		block head
			title Complaint Service
		link(rel="stylesheet", href="/bundle.css")
	body(class="layout")
		header
			block header

		main
			block content

		script(src="/bundle.js")
