.icon {
  // Source for Icon Alignment: https://milanaryal.com.np/how-to-align-svg-icons-to-text/
  width: 1em;
  height: 1em;
  font-size: inherit;
  vertical-align: -0.125em;

  fill: currentColor;
}
