extends ../components/layout/template.pug
include ../components/navbar/mixin.pug

block head
	title Payments

block header
	h1 Payments
	+navbar('payments')

block content
	h2 List of Payments
	ul
		each payment in payments
			li
				a(href="/payments/" + payment.id)=payment.receiver + ", " + payment.type
	form(method="post", action="/payments/")
		button(type="submit") Create New Payment
