extends ../components/layout/template.pug
include ../components/navbar/mixin.pug
include ../components/breadcrumb/mixin.pug
include ../components/field-group/mixins.pug
include ../components/button/mixin.pug

block head
	title Update Payment Information

block header
	h1 Update Payment Information
	+navbar
	+breadcrumb
		+navitem("/payments", "Payments")
		+navitem("/payments/" + id, "Payment for: " + receiver)
		+navitem("/payments/" + id + "/edit", "Update Payment Information", true)

block content
	h2 Add payment information
	hijax-element
		form(method="post", action=("/payments/" + id), enctype="application/x-www-form-urlencoded", data-hijax="disable")
			input(type="hidden", name="_method", value="patch")
			input(type="hidden", name="action", value="choose")
			if origin
				input(type="hidden", name="origin", value=origin)
			if type === "IBAN"
				+text-field("iban", "IBAN", null, true)
			if type === "CreditCard"
				+text-field("cardnr", "Credit Card Number", null, true)
				+number-field("expiryMonth", "Month of Expiry", null, true, "MM")
				+number-field("expiryYear", "Year of Expiry", null, true, "YY")
				+number-field("cvc", "CVC", null, true, "XXX")
			+button("Submit Payment Information")

