extends ../components/layout/template.pug
include ../components/navbar/mixin.pug
include ../components/breadcrumb/mixin.pug
include ../components/radio/mixin.pug

block head
	title Input Payment Information

block header
	h1 Input Payment Information
	+navbar
	+breadcrumb
		+navitem("/payments", "Payments")
		+navitem("/payments/new", "Input Payment Information", true)

block content
	h2 Add payment receiver
	form(method="post", action=("/payments/" + id), enctype="application/x-www-form-urlencoded")
		input(type="hidden", name="_method", value="patch")
		input(type="hidden", name="action", value="choose")
		if origin
			input(type="hidden", name="origin", value=origin)
		label(for="receiver") Receiver
		input(id="receiver", name="receiver", type="text", required)
		fieldset
			legend Type
			+radio("type", "IBAN", "IBAN", (type === "IBAN" ? "checked" : false), true)
			+radio("type", "Credit Card", "CreditCard", (type === "CreditCard" ? "checked" : false), true)
		input(type="submit")

