extends ../components/layout/template.pug
include ../components/navbar/mixin.pug
include ../components/breadcrumb/mixin.pug
include ../components/radio/mixin.pug

block head
	title Complaint: #{id}

block header
	h1 Complaint
	+navbar
	+breadcrumb
		+navitem("/", "Complaints")
		+navitem("/complaints/" + id, "Complaint: " + message, true)

block content
	h2 Complaint Information
	p=message
	if status
		dl
			dt Status
			dd=status
			dt Response
			dd=response
			if paymentId
				dt Payment
				dd
					a(href="/payments/" + paymentId) Payment Information
	h2 Handle Complaint
	form(action="/complaints/" + id + "/wizard", method="get", enctype="application/x-www-form-urlencoded")
		fieldset
			legend How would you like to handle this complaint?
			+radio("action", "Custom Apology", "custom", true)
			+radio("action", "Choose default response", "choose")
			+radio("action", "Reimburse the user for their convenience", "reimburse")
			input(type="submit")



