extends ../components/layout/template.pug
include ../components/navbar/mixin.pug
include ../components/breadcrumb/mixin.pug

block head
	title Complaint: #{id}

block header
	h1 Complaint
	+navbar
	+breadcrumb
		+navitem("/", "Complaints")
		+navitem("/complaints/" + id, "Complaint: " + message, true)

block content
	h2 Complaint Information
	p=message
	if status
		dl
			dt Status
			dd=status
			dt Response
			dd=response
			if paymentId
				dt Payment
				dd
					a(href="/payments/" + paymentId) Payment Information
	h2 Handle Complaint
	form(action="/complaints/" + id + "/wizard", method="get", enctype="application/x-www-form-urlencoded")
		fieldset
			legend How would you like to handle this complaint?
			input(id="custom", type="radio", name="action", value="custom")
			label(for="custom") Custom apology
			input(id="choose", type="radio", name="action", value="choose")
			label(for="choose") Choose default response
			input(id="reimburse", type="radio", name="action", value="reimburse")
			label(for="reimburse") Reimburse the user for their inconvenience
			input(type="submit")



