include ../navitem/mixin.pug

mixin navbar(current)
	nav(class="navbar")
		h2 Main Menu
		ul(role="list")
			+navitem("/", "Complaints", current === 'complaints', 'inbox', '/number-of-open-complaints?visuallyHidden=true&id=nrEmbedded', 'nrEmbedded', 'Number of Complaints')
			+navitem("/payments/", "Payments", current === 'payments', 'money-check-alt')
