doctype html
html(lang="de-DE")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//unpkg.com/@ungap/custom-elements/es.js', defer)
		script(src='/javascripts/index.js', defer)
	body
		block content
